@media only screen and (max-width: 833px) {
	#mw-panel {
		display: none !important;
	}
	.mw-body {
		margin-left: 0em !important;
		border-left-width: 0em !important;
	}
}
#mw-page-base {
    //height: 0em;
}
#mw-head-base {
    margin-top: -5em;
    margin-left: 10em;
    //height: 0em;
}
.mw-body {
    border: 1px solid #a7d7f9;
	border-top-width: 0;
    border-right-width: 0;
	margin-left: 10em;
	background-color: #ffffff;
    color: #222222;
    padding: 1em;
    direction: ltr;
}
.mw-body h1 {
    margin-bottom: 0.25em;
    line-height: 1.3;
	border-bottom: 1px solid #a2a9b1;
}
.mw-body > img {
    max-width: 100% !important;
    height: auto !important;
}
.mw-body-content {
    position: relative;
    z-index: 0;
}
.mw-body-content h2 {
    margin-top: 1em;
    font-size: 1.5em;
	border-bottom: 1px solid #a2a9b1;
}
#mw-panel {
    position: absolute;
    top: 160px;
    width: 10em;
    left: 0;
    font-size: inherit;
	margin-top: 10em;
    margin-left: 0.5em;
    margin: 0;
    padding: 0.25em 0;
    font-size: 0.875em;
    line-height: 1.125em;
    word-wrap: break-word;
}
.toc {
    display: table;
    padding: 7px;
}
::marker {
    unicode-bidi: isolate;
    font-variant-numeric: tabular-nums;
    text-transform: none;
    text-indent: 0px !important;
    text-align: start !important;
    text-align-last: start !important;
}
#info {
	text-align: left;
	width: 100% !important;
    max-width: 720px !important;
}